@import url('https://fonts.googleapis.com/css2?family=Arvo');
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-style: "Arvo";
}

.hero{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)) , url(./Hikkaduwa/img2.webp);
    background-size: cover;
    background-position: center;
    position:  relative;
}
nav{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 4% ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .logo{
  width: 100px;

}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 5px 20px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    transition: width 0.2s;
}
nav ul li a:hover::after{
    width: 60%;
}
.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:  translate(-50% ,-50%);
    font-size: 90px;
    font-family: "Arvo";
    line-height: normal;
   /* -webkit-text-stroke:1px #fff; */
    color: transparent;
    background-image: linear-gradient(rgb(50, 192, 161, 0.3),#fff);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -1000px 0;
    animation: backcolor 5s linear infinite alternate;
}
@keyframes backcolor{
    100%{
        background-position: 0 0;  
    }
}
.title h3{
    font-size: 80px;
    font-family: "Arvo";
}
/*slider*/
.image-slider{
    padding: 2rem;
    background-color: rgb(64, 138, 119);
}
.slider-wrapper{
    position: relative;
    max-width: 50rem;
    margin: 0 auto;
  
}
.slider{
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.25rem;
}
.slider img{
    flex:  1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
  
}


.slider-nav{
   display: flex;
   column-gap: 1rem;
   position: absolute;
   bottom: 1.25rem;
   left: 50%;
 transform: translateX(-50%);
   z-index: 1;
}
.slider-nav a{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 100ms;
  
}
.slider-nav a:hover{
    opacity: 1;

}
/*slider end*/

/*Hikkaduwa*/

.description{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Arvo';
    background-color:#afcce6;
  
}
.description h2{

    text-transform: uppercase;
    padding-top: 0.5em;
    font-size: 1.5rem;
    margin-right: 400px;
    -webkit-text-stroke:1px rgb(17, 4, 4);
    color:transparent;
}
.des-img img{
    max-width:45rem ;
    height: 20rem;
    margin: 20px 5px 5px 20px;
    border-radius: 4%;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.6);
    cursor: pointer;
    transition:2s ease-in-out;
    transform: translateX(3%);
    border: 1px solid black;
  
}

.des-img img:hover{
    background-color: rgba(0,0,0,0.6);
    transform: translatex(-1%);
}
.des-img p{
    font-size: 1rem;
    font-weight: 100;
    font-family: sans-serif;
    text-align: justify;
    margin-right: 45px;
    margin-top:-20rem;
    margin-left: 600px;
    padding-right: -35em; 
    line-height: 1.2em;
    padding-bottom: 3em;   

}
/*purpose*/
.container{
    margin: 0;
    padding: 0;
   
    background-color: rgb(33, 125, 168);
}

.container h1{
    font-size: 2em;
    color: rgb(0, 0, 0);
    text-align: center;
    text-transform: uppercase;
    font-family:sans-serif ;
    letter-spacing: 5px;
    -webkit-text-stroke: 1px rgb(161, 219, 1);
    margin-bottom: 20px;
    
}
.images {
    width: 200px;
    height: 200px;
    display: flex;
        align-items: center;
  
}.images img{
     
    justify-content: center;
    border-radius: 10px;
    margin: 30px ;
    margin-top: 20px;
   border: 1px solid rgb(0, 0, 0);
    width: 100%;
    height: 200px;
     border-radius: 20%;
    animation: A 6s linear infinite alternate;

}

@keyframes A{
    0%{
        transform: translate(0%);
    }
    25%{
        transform: translate(5%); 
    }
    50%{
        transform: translate(5%);
    }
    75%{
        transform: translate(0);
    }
    100%{
        transform: translate(5%);
    }
}
/*purpose end*/
.text-A{
    background-color: rgb(38, 85, 69);
    font-weight: 600;
    margin-top: 1em;
}
.text-A p{
  color: #fff;
  text-align: justify;
  margin-bottom: 4px;
  padding: 0.6em;
  line-break: strict;
 
}
/*sub purpose*/
.sub-purpose{
   margin:0 auto ;
   background-color: rgba(41, 120, 224, 0.781);
 
}
.sub-purpose h1{
    font-size: 40px;
    color: hsl(0, 95%, 42%);
    text-align: center;
    animation: H1 4s linear infinite; 
}
@keyframes H1 {
    0%,75%{
        color: rgb(2, 10, 10);
    }
    25%{
        color: rgb(236, 236, 236);
    }
    50%{
        color: mediumblue;
    }
}

.sub-purpose ol{
   font-weight: 500;
}
.sub-purpose ol li{
    font-size: 30px;
    
    
}
.sub-purpose img{
    width: 400px;
    height: 200px;
    border-radius: 5%;
    border: 2px solid black;
   /* margin-left: 2em;*/
    padding-top: -45px;
    animation: slide 5s linear infinite ;
    animation-delay: 2s;
    margin: 0 5px 0 10px;
     
}
@keyframes slide{
    0%{
      transform: scaleY(0.1); 
    }
    25%{
        transform: translateX(5%);
    }
    50%{
        transform: translateX(0);
    }
    75%{
        transform:translateX(5%);
    }
    100%{
        transform: translateX(0);
    }
}
.sub-purpose p{
     margin-left: 4em;
    text-align: justify;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    color: rgb(0, 0, 228);
}
 
.tasks img{
    width: 200px;
    height: 200px;
    display: inline-flex;
}
.location{
    background-color: aquamarine;
}
.location h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    margin-top: 20px;
}  
.location iframe{
    margin: 20px;
    margin-bottom: 20px;
    width: 800px;

}

/*---footer--*/


.footer1{
    width: 100%;
    position: relative;
    bottom: 0;
    background: linear-gradient(to right,#429f5f, #943a1c);
    padding: 100px 0 30px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    font-size: 13px;
    line-height: 18px;
    color: #fff;

}
.row1{
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;

}
.column2{
  padding: 5px;
  flex-basis:25%;

}
.column1{
  flex-basis: 25%;
  padding: 10px;
}
.logo{
  width: 100px;
  margin-bottom: 30px;
}
.column1 p,h3,h4{
  text-align: justify;
  margin-left:60px ;
  margin-top: 10px;
}

.column1 h3{
  width: fit-content;
  margin-bottom: 50px;
  position: relative;
}
.column1 p{
  margin-bottom: 15px;
}
.emailid{
  width: fit-content;
  border-bottom: 1px solid #ccc;
  margin: 20px 0;
}

.column3 h3{
  width: fit-content;
  position: relative;
  margin-right: 100px;

}
.column3 ul li{
  list-style: none;
  margin-bottom: 12px;
  margin-left: 5px;
}
.column3 ul li a{
  text-decoration: none ;
  color: #fff;
  margin-left: 50px;
  margin-bottom: 30px;
}
.column3 ul ,li {
  margin-top: 15px;
  margin-left: 10px;
  margin-bottom: 15px;
}
.column3 li,a{

  padding-top: 10px;
}
.column3 [type="email"]{
  margin-top: 50px;
  text-align: justify;
}
form{
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  margin-bottom: 50px ;
}
form input{
  width: 100%;
  background: transparent;
  color: #ccc;
  border: 0;
  outline: none;
}
form input[type=submit]{
  background:transparent;
  border: 0;
  outline: none;
  width: 50%;
  cursor: pointer;
}
form button{
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
  color: #fff;
  margin-top: 50px;
}
.social-icons img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: #fff;
  margin-right: 15px;
  cursor: pointer;
}
hr{
  width: 90%;
  border: 0;
  border-bottom: 1px solid #ccc;
  margin: 20px auto;

}
.copyright{
  text-align: center;
}
.underline{
  width: 100%;
  height: 5px;
  background: #767676;
  border-radius: 3px;
  position: absolute;
  top: 25px;
  left: 0;
  overflow: hidden;
}
.underline span{
  width: 15px;
  height: 100%;
  background: #fff;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 10px;
  animation: moving 2s linear infinite;
}
@keyframes moving{
  0%{
      left: -10px;
      background-color: #e80808;
  }
  100%{
      left: 100%;
      background-color: #e80808;
  }


}
@media (max-width: 700px){
  footer{
      bottom: unset;
  }
  .col{
      flex-basis: 100%;
      
  }
  .col:nth-child(2), .col:nth-child(3){
      flex-basis: 100%;
  }
}


  


